$primary-color:#6688CC;
@import 'spectre.css/src/spectre.scss';

body {
    // background-color: black;
}
#input,
#output {
    height: 80vh;
}
.ace_editor {
    border: 1px solid #ddd;
}
.dropdown-toggle {
    margin-bottom: .5rem;
}
.hero.hero-sm {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 1rem;
}
.hero{
    background:#ACBFE6;
    // color:#182978;
}
#main-btn {
    height: 4.8rem;
    line-height: 1.2rem;
    padding: 1.8rem 0;
    width: 4.8rem;
}
.middle-col{
    display: flex;
          justify-content: center;
          align-items: center;
}
